*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.bagian-atas{
    padding: 20px;
    color: white;
    /* menggunakan background foto yang terdapat pada sebuah website */
    background-image: url('https://upload-os-bbs.hoyolab.com/upload/2022/05/06/211540782/54e251fd79b2aeac100655ca68b91bba_8181107777506500611.png?x-oss-process=image%2Fresize%2Cs_1000%2Fauto-orient%2C0%2Finterlace%2C1%2Fformat%2Cwebp%2Fquality%2Cq_80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 70%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.bagian-atas h1{
    background-color: black;
    display: inline-block;
}

.logo-genshin{
    height: 50px;
}

body{
    margin: 0;
    padding: 0;
}

header{
    display: inline;
}

nav {
    background-color: rgb(37, 35, 35);
    padding: 5px;
    position: sticky;
    top: 0;
}

nav ul {
    padding-inline: 2rem;
   
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav li {
    list-style-type: none;
}
   
nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
   
nav a:hover {
    font-weight: bold;
    font-size: 17px;
}

main {
    padding: 20px;
   
    display: flex;
    gap: 1.5rem;
}

.konten{
    flex: 5;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

aside{
    flex: 1;
}

p{
    text-align: justify;
}

.profil{
    height: 200px;
    align-content: center;
}

.foto{
    width: 100%;
    max-height: 500px;
 
    object-fit: cover;
    object-position: center;
    align-items: center;
}

footer {
    padding: 20px;
    color: #fff;
    background-color: rgb(37, 35, 35);
}

footer p{
    text-align: center;
}

main .h2{
    color: rgb(37, 35, 35);
}

.kartu {
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}
   
@media screen and (max-width: 1000px) {
    main {
      flex-flow: column nowrap;
    }
   
    main aside {
      align-self: center;
    }
}
   
@media screen and (max-width: 789px) {
    main aside {
      align-self: stretch;
    }
}

.author{
    align-items: center;
}

.author h2{
    text-align: center;
}
.author h3{
    text-align: center;
}
.author figure{
    align-items: center;
}
.author p{
    text-align: center;
}

.author header{
    text-align: center;
}

.author p{
    font-size: 20px;
}
.author .profil-singkat{
    font-size: 15px;
}

.menu-line{
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
}

.menu{
    display: none;
}

@media only screen and (max-width: 1000px){
    nav ul{
        flex-direction: column;
    }
    nav ul.hidden{
        display: none;
    }
    .menu{
        display: flex;
        align-items: center;
    }
}

html{
    scroll-behavior: smooth;
    scroll-padding: 6rem;
}